In [17]:
# Data science with python 
# Applications of data science
# Data science -> Extract knowledge from data through different techniques such as statistics, machine learning, data mining, etc.
# Data science is a multidisciplinary field that combines statistics, data analysis, machine learning, domain knowledge, and programming.
# Data science is used to extract knowledge from data and make decisions based on data analysis.
# Machine learning is a subset of data science that focuses on building predictive models from data.
# Data Analysis is the process of inspecting, cleaning, transforming, and modeling data to discover useful information, suggest conclusions, and support decision-making.
# Data mining is the process of discovering patterns in large data sets involving methods at the intersection of machine learning, statistics, and database systems.

In [36]:
# Step 1 : Import the neccessary libraries

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd


df = pd.read_csv('niceguys3.csv')

# Display the first 5 rows of the dataset
print(df.head())

   number_siblings                   name     sex  age living_allowance  \
0                1     Nakasujja Gertrude  female   33              NaN
1                3  Arinda Asiimwe Atweta  female   23           50,000
2                4    Ndjekornom Victoire    male   23            25000
3                0         KATURAMU EDGAR    male   27           500000
4                4      Abinsinguza Lasse    male   24           100000

                  Are_you_a  How_many_time_do_eat_food  Unnamed: 7  \
0            Data Scientist                          2         NaN
1  Machine Learning Enginer                          1         NaN
2            Data Scientist                          1         NaN
3  Machine Learning Enginer                          2         NaN
4            Data Scientist                          2         NaN

   do_you_have_aboyfriend/girlfriend
0                                  1
1                                  1
2                                  0
3                                  0
4                                  1

In [1]:
# Data Cleaning //Preprocessing
# 1.Empty cells 2.Wrong format 3.wrong data 4.Duplicates   5.Outliers

# Check for missing values
print(df.isnull().sum())

NameError: name 'df' is not defined

In [41]:
df['living_allowance'] = df['living_allowance'].astype(str).str.replace(',', '').astype(float)
df['living_allowance'].fillna(df['living_allowance'].median(), inplace=True)
print(df.head())

   number_siblings                   name     sex  age  living_allowance  \
0                1     Nakasujja Gertrude  female   33          200000.0
1                3  Arinda Asiimwe Atweta  female   23           50000.0
2                4    Ndjekornom Victoire    male   23           25000.0
3                0         KATURAMU EDGAR    male   27          500000.0
4                4      Abinsinguza Lasse    male   24          100000.0

                  Are_you_a  How_many_time_do_eat_food  Unnamed: 7  \
0            Data Scientist                          2         NaN
1  Machine Learning Enginer                          1         NaN
2            Data Scientist                          1         NaN
3  Machine Learning Enginer                          2         NaN
4            Data Scientist                          2         NaN

   do_you_have_aboyfriend/girlfriend
0                                  1
1                                  1
2                                  0
3                                  0
4                                  1

/var/folders/h6/rzybbwp521d9hc1hhs2q__fr0000gn/T/ipykernel_26868/1952606256.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['living_allowance'].fillna(df['living_allowance'].median(), inplace=True)

In [ ]:
# Steps 1: Import the necessary libraries
# Step 2: Load the dataset
# Step 3: Data cleaning and  Preprocessing
# Step 4: EDA Exploratory Data Analysis
# Step 5: Data Visualization
# Distriibution students with Age and whether they are in a relationship
# Gender who have boyfriend and girlfriend
# Living allowance with gf and bf
# THose with bf or gf have siblings
# No meals taken and living allowance


# Co-rrelation Heatmap , co-rellation matrix and plot the heatmaps
# Decision making / insigths of the data ,data analysis conclusions